.main {
  flex: 1;
  position: relative;
}
code {
  font-family: Consolas, 'courier new';
  padding: 2px;
  font-size: 105%;
}
pre {
  padding-left: 1.5rem;
  padding-top: 0.25rem;
  color: #df3079 !important ;
}
ul li .pre-container button {
  display: none !important ;
}
ol li .pre-container button {
  display: none !important ;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}
.main .nav img {
  width: 50px;
  border-radius: 50px;
}
.main-container {
  max-width: 900px;
  margin: auto;
}
.content {
  max-width: 900px;
  overflow-x: auto;
  white-space: nowrap;
}
.content p,
li {
  max-width: 900px;
  word-wrap: break-word;
  white-space: normal;
}
.main-container .greet {
  margin: 50px 0px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 600px;
}
.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}
.main .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  background: white;
}
.main .card p {
  color: #585858;
  font-size: 17px;
}
.main .card:hover {
  background-color: #dfe4ea;
}
.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}
.search-box img {
  width: 24px;
  cursor: pointer;
}
.search-box input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 8px;
  font-size: 18px;
}
.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}
.result {
  max-height: 70vh;
  overflow-y: scroll;
}
.result::-webkit-scrollbar {
  display: none;
}
.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: end;
  align-items: end;
  justify-content: flex-end;
  gap: 20px;
}
.result-title img {
  display: flex;
  align-items: start;
  justify-content: flex-end; /* Căn phải toàn bộ nội dung */
  gap: 20px;
}
.result img {
  width: 40px;
  border-radius: 50px;
}
.result-data {
  display: flex;
  align-items: start;
  /* gap: 20px; */
}
.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #b1d5ee, #c953e98a, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 4s infinite linear;
}
ol {
  list-style: decimal !important;
  padding-left: 2rem !important;
}
ul {
  list-style: circle !important;
  margin-left: 30px !important;
}
li {
}
@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

/* .result-data p{
    font-size: 17px;
    font-weight: 300px;
    line-height: 1.8;
} */

.content table {
  margin-top: 15px !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  border-color: inherit !important;
  display: block !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow: auto !important;
}

.content tbody,
.content td,
.content tfoot,
.content th,
.content thead,
.content tr {
  border-color: inherit !important;
  border-style: solid !important;
  border-width: 2px !important;
  padding: 0.5rem;
}
.content thead {
  background-color: #bdd6ff;
}
span {
  font-size: 18px;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
}
